<div>
    <div class="text-end p-3">
        Filtrado por precio ⇒
        Desde: <input type="text" [(ngModel)]="minprice" name="minprice" />
        Hasta: <input type="text" [(ngModel)]="maxprice" name="minprice" />
        <input type="button" class="btn btn-secondary" value="filtrar" (click)="buscarTodosPorRangoPrecio()" />
        <input type="button" class="btn btn-primary" value="ver todos" (click)="buscarTodos()" />
    </div>
    <div>
        <table class="table table-bordered text-center p3">
            <thead class="table-warning">
                <tr>
                    <th>MARCA</th>
                    <th>MODELO</th>
                    <th>PRECIO</th>
                    <th>NUMSERIE</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody class="table-light">
                <tr *ngFor="let ordenador of listaOrdenador">
                    <td>{{ordenador.modelo}}</td>
                    <td>{{ordenador.marca}}</td>
                    <td>{{ordenador.precio}} €</td>
                    <td>{{ordenador.numserie}}</td>
                    <td> <input type="button" class="btn btn-danger" id="borrar" value="X" (click)="borrar(ordenador)">
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="text-center p3">
            <small>Paginado de 5 en 5 items</small><br>
            <button class="btn btn-outline-danger p3" (click)="buscarTodosPags(numPagina - 1)"
                [disabled]="numPagina === 1">Anterior</button>
            <span> PÁGINA {{numPagina}} </span>
            <button class="btn btn-outline-success p3" (click)="buscarTodosPags(numPagina + 1)">Siguiente</button>
            <br> <small>(Esta petición de paginado SÍ funciona en springboot)</small>
        </div>

    </div>

    <div class="text-center p-3">
        <a routerLink="/formularioordenador">Nuevo 🖉</a>
    </div>
</div>